.navbar-light{
    position: sticky;
    top: 0;
    z-index: 10;
}

.nav-link {
    position: relative;
    display: flex;
    align-items: center;
    padding: 20px 0;
}

.nav-link .fa-cart-shopping {
    font-size: 24px;
}

.nav-link span {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 5px;
    right: -10px;
    width: 20px;
    height: 20px;
    background-color: red;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
}
