.checkout-container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    margin-top: 2rem;
}

.checkout-left {
    flex-basis: 60%;
    background-color: whitesmoke;
    padding: 2rem;
    border-radius: 8px;
}

.checkout-right {
    flex-basis: 40%;
    background-color: whitesmoke;
    padding: 2rem;
    border-radius: 8px;
}

.cart-item img {
    border-radius: 6px;
}
